<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.dao.ConfTaskSetMapper" >
  <resultMap id="BaseResultMap" type="com.qbao.dto.ConfTaskSet" >
    <result column="oneday_score" property="onedayScore" jdbcType="DECIMAL" />
    <result column="total_score" property="totalScore" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    oneday_score, total_score
  </sql>

  <select id="getEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from conf_task_set
    where    status != 1 limit 1
  </select>


</mapper>