<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.dao.ConfRatioMapper" >
  <resultMap id="BaseResultMap" type="com.qbao.dto.ConfRatio" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="list_name" property="listName" jdbcType="VARCHAR" />
    <result column="start_score" property="startScore" jdbcType="DECIMAL" />
    <result column="end_score" property="endScore" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="ratio" property="ratio" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, list_name, start_score, end_score, "status", ratio, create_time, update_time, 
    "operator"
  </sql>

  <select id="getAll" resultMap="BaseResultMap" parameterType="com.qbao.dto.ConfRatio"  >
    select
    <include refid="Base_Column_List" />
    from conf_ratio
    where    status != 1
  </select>
</mapper>