<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.dao.ConfSignMapper" >
  <resultMap id="BaseResultMap" type="com.qbao.dto.ConfSign" >
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="total_score_limit" property="totalScoreLimit" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    score, total_score_limit
  </sql>

  <select id="getEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from conf_sign
    where    status != 1 limit 1
  </select>


</mapper>