<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.dao.ConfItemMapper" >
  <resultMap id="BaseResultMap" type="com.qbao.dto.ConfItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bus_name" property="busName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="class_type" property="classType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bus_name, title, sub_title, image_url, link_url, "status", "operator", create_time, class_name,class_type,
    update_time
  </sql>
    <select id="selectUse" resultType="com.qbao.dto.ConfItem">
      select * from conf_item where status = 0
    </select>
</mapper>