<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianwang.mapper.AuthoritiesGroupMapper" >
  <resultMap id="BaseResultMap" type="com.qianwang.dao.domain.AuthoritiesGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="resouce_ids" property="resouceIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, "name", resouce_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authorities_group
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectResouceIdByUserId" resultType="java.lang.String">
      select ap.`resouce_ids` as resouceIds from authorities a
          left join `authorities_group` ap on a.`authority` = ap.`id` where a.userid = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from authorities_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianwang.dao.domain.AuthoritiesGroup" >
    insert into authorities_group (id, "name", resouce_ids
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{resouceIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianwang.dao.domain.AuthoritiesGroup" >
    insert into authorities_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        "name",
      </if>
      <if test="resouceIds != null" >
        resouce_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resouceIds != null" >
        #{resouceIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianwang.dao.domain.AuthoritiesGroup" >
    update authorities_group
    <set >
      <if test="name != null" >
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resouceIds != null" >
        resouce_ids = #{resouceIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianwang.dao.domain.AuthoritiesGroup" >
    update authorities_group
    set "name" = #{name,jdbcType=VARCHAR},
      resouce_ids = #{resouceIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>