<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianwang.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.qianwang.dao.domain.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="wap_link" property="wapLink" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="short_content" property="shortContent" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="tunnel_id" property="tunnelId" jdbcType="INTEGER" />
    <result column="tunnel_name" property="tunnelName" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="user_select_group_id" property="userSelectGroupId" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, `type`, link, wap_link, logo, short_content, send_time, create_time,
    update_time, `status`, tunnel_id, tunnel_name, activity_id, user_select_group_id,
    message_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectLink" resultType="com.qianwang.dao.domain.Message">
    select id,wap_link from  message where user_id = #{userId} and type = 2 and wap_link is not null
  </select>
    <select id="selectByMessageId" resultType="com.qianwang.dao.domain.Message">
      select * from message where message_id = #{messageId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianwang.dao.domain.Message" >
    insert into message (id, title, content, 
      `type`, link, wap_link,
      logo, short_content, send_time, 
      create_time, update_time, `status`,
      tunnel_id, tunnel_name, activity_id, 
      user_select_group_id, message_id, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{link,jdbcType=VARCHAR}, #{wapLink,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{shortContent,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{tunnelId,jdbcType=INTEGER}, #{tunnelName,jdbcType=VARCHAR}, #{activityId,jdbcType=INTEGER}, 
      #{userSelectGroupId,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianwang.dao.domain.Message" useGeneratedKeys="true"
          keyProperty="id">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="wapLink != null" >
        wap_link,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="shortContent != null" >
        short_content,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="tunnelId != null" >
        tunnel_id,
      </if>
      <if test="tunnelName != null" >
        tunnel_name,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="userSelectGroupId != null" >
        user_select_group_id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="wapLink != null" >
        #{wapLink,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="shortContent != null" >
        #{shortContent,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="tunnelId != null" >
        #{tunnelId,jdbcType=INTEGER},
      </if>
      <if test="tunnelName != null" >
        #{tunnelName,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="userSelectGroupId != null" >
        #{userSelectGroupId,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianwang.dao.domain.Message" >
    update message
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="wapLink != null" >
        wap_link = #{wapLink,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="shortContent != null" >
        short_content = #{shortContent,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="tunnelId != null" >
        tunnel_id = #{tunnelId,jdbcType=INTEGER},
      </if>
      <if test="tunnelName != null" >
        tunnel_name = #{tunnelName,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="userSelectGroupId != null" >
        user_select_group_id = #{userSelectGroupId,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianwang.dao.domain.Message" >
    update message
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      link = #{link,jdbcType=VARCHAR},
      wap_link = #{wapLink,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      short_content = #{shortContent,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      tunnel_id = #{tunnelId,jdbcType=INTEGER},
      tunnel_name = #{tunnelName,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=INTEGER},
      user_select_group_id = #{userSelectGroupId,jdbcType=INTEGER},
      message_id = #{messageId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>