<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <property name="minIdle" value="${redis.minIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitTime}"/>
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisSentinelPool">
        <!--<constructor-arg index="0" value="booyo" />-->
        <constructor-arg index="0">
            <value>${redis.instancename}</value>
        </constructor-arg>


        <constructor-arg index="1">
            <set>
                <value>${redis.sentinel1.host}:${redis.sentinel1.port}</value>
                <value>${redis.sentinel2.host}:${redis.sentinel2.port}</value>
                <value>${redis.sentinel3.host}:${redis.sentinel3.port}</value>
            </set>
        </constructor-arg>
        <constructor-arg index="2" ref="jedisPoolConfig"/>
    </bean>

    <bean id="redisUtil" class="com.qianwang.util.Redis.RedisUtil">
        <property name="pool" ref="jedisPool"/>
    </bean>
</beans>