<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	
	<!-- 
		添加json日期格式默认格式"yyyy-MM-dd HH:mm:ss" 
		如需要自定义格式 需要在对象的日期属性添加注释.例如:
		@JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd"
		private Date date = new Date();
	 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
 	<context:property-placeholder location="classpath*:*.properties"/>
 
	<!-- 把标记了@Controller注解的类转换为bean -->
	<context:component-scan base-package="com.qianwang.web.controller"></context:component-scan>

	<mvc:interceptors>
		<!-- On pre-handle, resolve the device that originated the web request -->
		<bean class="org.springframework.mobile.device.DeviceResolverHandlerInterceptor"/>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
			<bean class="com.qianwang.web.filter.LogInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>