<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianwang.mapper.customer.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.qianwang.dao.domain.advertisement.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="learder" property="learder" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_stmp" property="createStmp" jdbcType="TIMESTAMP" />
    <result column="update_stmp" property="updateStmp" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_name, learder, address, phone, create_stmp, update_stmp, delete_flag,
    creator, creator_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where delete_flag = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianwang.dao.domain.advertisement.Customer" >
    insert into customer (id, cust_name,
      learder, address, phone, 
      create_stmp, update_stmp, delete_flag, 
      creator, creator_name)
    values (#{id,jdbcType=INTEGER},  #{custName,jdbcType=VARCHAR},
      #{learder,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{createStmp,jdbcType=TIMESTAMP}, #{updateStmp,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}, 
      #{creator,jdbcType=INTEGER}, #{creatorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianwang.dao.domain.advertisement.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="custName != null" >
        cust_name,
      </if>
      <if test="learder != null" >
        learder,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createStmp != null" >
        create_stmp,
      </if>
      <if test="updateStmp != null" >
        update_stmp,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatorName != null" >
        creator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="learder != null" >
        #{learder,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createStmp != null" >
        #{createStmp,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStmp != null" >
        #{updateStmp,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianwang.dao.domain.advertisement.Customer" >
    update customer
    <set >
      <if test="custName != null" >
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="learder != null" >
        learder = #{learder,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createStmp != null" >
        create_stmp = #{createStmp,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStmp != null" >
        update_stmp = #{updateStmp,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianwang.dao.domain.advertisement.Customer" >
    update customer
    set cust_name = #{custName,jdbcType=VARCHAR},
      learder = #{learder,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_stmp = #{createStmp,jdbcType=TIMESTAMP},
      update_stmp = #{updateStmp,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      creator = #{creator,jdbcType=INTEGER},
      creator_name = #{creatorName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>