<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}" />
        <property name="minIdle" value="${redis.minIdle}" />
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}" />
        <property name="maxIdle" value="${redis.maxIdle}" />
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
        <property name="testOnReturn" value="${redis.testOnReturn}" />
        <property name="testWhileIdle" value="${redis.testWhileIdle}" />
    </bean>

    <bean id="jedisSentinelPool" class="redis.clients.jedis.JedisSentinelPool">
        <constructor-arg index="0" value="${redis.instancename}" />
        <constructor-arg index="1">
            <set>
                <value>${redis.sentinel01.ip}:${redis.sentinel01.port}</value>
                <value>${redis.sentinel02.ip}:${redis.sentinel02.port}</value>
                <value>${redis.sentinel03.ip}:${redis.sentinel03.port}</value>
            </set>
        </constructor-arg>
        <constructor-arg index="2" ref="poolConfig" />
    </bean>
    <bean id="redisUtil" class="com.qianwang.service.redis.RedisUtil">
        <property name="pool" ref="jedisSentinelPool"/>
    </bean>
</beans>